* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    width: 80%;
    margin: 20px auto 20px auto;
    background-color: black;
    color: white;
}

h1{
    font-size:  40px;
    
    color: white;
    border: 3px solid yellow; 
    text-align: center;
    font-family:cursive 
}

.subtitulo{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#opcao{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10px;
}

h2{
    font-size: 30px;
    font-style: italic;
    color: yellow;
}

p{
    font-size: 30px;
}

ul{
    font-size: 20px;
}

h3{
    font-size: 20px;
    text-align: center;
    border: 3px dashed yellow;
    padding: 20px;
    margin: 10px 300px 10px 300px
}

h4{
    font-size: 20px;
    text-align: center;
    margin: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.feijao{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid yellow;
    
}

.frango{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid yellow;
    
}

@media all and (max-width:768px){
#opcao, .acompanhamentos, h3{
    display: block;
    width: 80%; 
    float: none;
    text-align: center;
    position: relative;
    margin-left: 40px;
    }

h3{
 margin-left: 10px;   
}
}